{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "proseWrap": "always",
  "quoteProps": "consistent",
  "singleAttributePerLine": false
}